@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=fallback');

@tailwind base;
@tailwind components;
@tailwind utilities;

.form-checkbox {
  @apply text-sm text-indigo-500 bg-white rounded;
}

.btn {
  @apply text-sm inline-flex items-center justify-center font-inter border border-transparent leading-5 shadow-sm transition duration-150 ease-in-out
}

.btn {
  @apply px-3 py-2;
}

.btn-lg {
  @apply px-4 py-3;
}

.btn-sm {
  @apply px-2 py-1;
}

/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

